.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  background-color: rgba(22, 34, 57, 0.95);
  height: 80px;
  position: fixed;
  z-index: 12;
  width: 100%;
  top: 0;
}

.login {
  margin-left: auto;
}

.navItem {
  margin-right: 0.5rem;
}

.navigation .link.active {
  font-weight: bold;

  border-bottom: 2px solid wheat;
}

.navigation .link {
  color: #d1c2c2;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.navigation .link:hover {
  border-bottom: 2px solid wheat;
}

.logout {
  color: wheat;
  cursor: pointer;
  margin-left: auto;
}

.currentUser {
  color: #646c99;
  font-size: 0.75rem;
}

.logoutSection {
  margin-left: auto;
  margin-right: 20px;
  margin-left: auto;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}