.loginInput {}

.loginForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
}

.loginField {
    display: flex;
    flex-direction: column;
}

button {
    margin-left: 0px;
    height: 40px;
    border-radius: 5px;
}

.googleButton {
    height: 40px;
    padding: 0 15px;
    background: white;
    border-radius: 10px;
}

.googleButton img {
    height: 30px;
    vertical-align: middle;
}

.errorMessage {
    color: red;
}