.productPage {
    background-color: #041333;
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
}

.product {
    display: flex;
    border: 0.25px solid rgb(120, 120, 120);
    margin-top: 5px;
    align-items: center;
    background: lightblue;
}

.productListHeader {
    color: white;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    padding: 5px;
    background: rgba(22, 34, 57, 0.95);
    border-radius: 5px;
    align-items: center;
}

.productForm {
    flex: 1;
    width: 50%;
    position: fixed;
    z-index: 10;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #5e637f;
    color: white;
}

.closeButton {
    color: black;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.productList {
    flex: 2;
    position: relative;
}

.sizes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 10px;
}

.productFormData {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.productFormData input,
select {
    border-radius: 5px;
    border: 0.25px solid black;
}

button {
    cursor: pointer;
    background: powderblue;
    border-radius: 2px;
    margin: 5px 0 0 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #9ccdf2;
}

.product:nth-child(even) {
    background: powderblue;
}

h1 {
    color: white;
    padding: 10px;
}

.column,
.columnHheader {
    flex: 1;
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

.deleteButton {
    margin: 5px;
}

.deleteButton:hover {
    cursor: pointer;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.spinnerImage {
    width: 10%;
    height: 10%;
}

.error {
    color: red;
    font-family: Calibri;
    font-size: 1rem;
    text-align: right;
}

.search {
    margin: 10px 5px;
    width: 50%;
}

.search input[type="text"] {
    border: 1px;
    outline: none;
}

textarea:focus,
input:focus {
    outline: none;
}

.noProducts {
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 576px) {
    .navigation {
        flex-direction: column;
        align-items: start;
    }

    .link {
        padding-left: 20px;
        width: 100%;
        background-color: rgba(22, 34, 57, 0.95);
    }

    .productPage {
        flex-direction: column;
        padding-top: 60px;
    }

    .productForm {
        width: 100%;
    }

    .productList {
        width: 100%;
        margin: 0;
    }

    .column {
        padding: 0px;
    }
}